body {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    display: block;
    /*aus dem Internet*/
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    /*-----------------------------------*/
    overflow-x: hidden;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

html, body {
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

element.style {
    overflow-y: hidden;
    outline: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

.profilepicture {
    border-radius: 50%;
    border: 12px solid rgba(0,0,0,0.4);
    width: 180px;
    height: 180px;
    background-image: url(Mavic.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:296px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.shortSentence {
    padding-bottom: 10px;
    font-family: Roboto;
    font-size: 14px;
    text-align: center;

}

.navigation > ul > li > a {


}

.navigation {
    padding-top: 0px;
    text-align: center;

}

.navigation a {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 14px;

    color: #FFFFFF;
    display: block;
    border-bottom: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(50, 49, 49);


}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

/* Change the link color on hover */
ul a:hover {
    background-color: #269abc;
    color: white;
}

.socialMediaLinks img {
    width: 28px;
    height: 28px;
    display: inline;
    margin-left: 140px;
    padding: 4px;
}

.copyright {
    text-align: center;
    padding-top: 30px;
}


header {
    position: fixed;
    width: 320px;
    height: inherit;
    z-index: 99999; /* Stack order, Grössere Zahl ist weiter vorne */
    top: 0;
    left: 0;
    padding-top: 0;
    background: #122b40;
    color: #FFFFFF;
    padding: 30px 20px 0 20px !important;
    transition: transform 350ms ease; /* nochmals anschauen */
    display: block;
}

